@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MAYFEST";
    src: url("../public/fonts/Mayfest_Regular\ -\ Demo.ttf");
}
@font-face {
    font-family: "BONELEST";
    src: url("../public/fonts/Bonelest-DEMO-BF63d04449d849c.ttf");
}
:root {
    --bg-dark: rgb(31, 33, 34);
}

::-webkit-scrollbar {
    width: 0px;
}

nav {
    --text-clr: white;
    --bg-clr: var(--bg-dark);
}
nav > div:nth-of-type(1) {
    color: var(--text-clr);
    background-color: var(--bg-clr);
}

.menu-btn,
.menu-contact-btn {
    --btn-bg: var(--bg-dark);
    --btn-bg-inverted: white;
    --btn-text-clr: white;

    background-color: var(--btn-bg);
    transition: background-color ease 400ms;
}
.menu-btn > div {
    background-color: var(--btn-bg-inverted);
}

.menu-contact-btn > svg {
    color: var(--btn-bg-inverted);
    fill: var(--btn-bg-inverted);
}

/* Nav theme types */

.nav-transparent {
    --bg-clr: transparent;
    --text-clr: white;
}

.nav-dark {
    --text-clr: white;
    --bg-clr: var(--bg-dark);
    @apply border-dark-fade;
}

.nav-white {
    --bg-clr: white;
    --text-clr: var(--bg-dark);
}

.nav-orange {
    --bg-clr: orange;
    --text-clr: var(--bg-dark);
}

/* nav menu button Theme Types */

.menu-btn.light,
.menu-contact-btn.light {
    --btn-bg: white;
    --btn-bg-inverted: var(--bg-dark);
}
.menu-btn.dark,
.menu-contact-btn.dark {
    --btn-bg: var(--bg-dark);
    --btn-bg-inverted: white;
}
